<div class="content-heading">
    <a onclick="back()" class="pull-left" matTooltip="返回"><i class="fa  fa-chevron-circle-left "></i> </a>
    欧洲文化渊源
    <div class="pull-right">
        <button type="button" class="btn btn-info btn-bloc" (click)="addRandomEvent()">添加资料</button>
    </div>
    <small>Unit 1 Creation in Greek Myths</small>
    <ul class="breadcrumb">
        <li><a href="#">欧洲文化渊源</a>
        </li>
        <li><a href="#">Unit 1 Creation in Greek Myths</a>
        </li>
        <li class="active">Maecenas rutrum fringilla vehicula.</li>
    </ul>
</div>
<div class="row">
    <!-- Blog Sidebar-->
    <div class="col-lg-3">
        <!-- Search-->
        <div class="panel b">


            <table class="table bb">
                <tbody>
                    <tr>
                        <td>
                            <strong>课程</strong>
                        </td>
                        <td>欧洲文化渊源</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>章节</strong>
                        </td>
                        <td dropdown>
                            <span dropdownToggle>Unit 1 Creation in Greek Myths <b class="caret"></b>
                            </span>
                            <ul *dropdownMenu class="dropdown-menu animated fadeInLeft" role="menu">
                                <li *ngFor="let c of chapters"><a href="#">{{c.c}}</a>
                                </li>

                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <!-- Categories-->
        <div class="panel panel-default">
            <div class="panel-heading bb">课程资料(3)</div>
            <div class="list-group">
                <a class="list-group-item bt0" href="#">

                    <em class="fa fa-fw fa-film mr"></em>Calendar updated</a>
                <a class="list-group-item active" href="#">

                    <em class="fa fa-fw fa-music mr"></em>Commented on a post</a>
                <a class="list-group-item" href="#">

                    <em class="fa fa-fw fa-file-o mr"></em>Order 392 shipped</a>

            </div>

        </div>



    </div>
    <!-- Blog Content-->
    <div class="col-lg-9">
        <app-postdetail></app-postdetail>
        <div class="row text-center">
            <div class="col-lg-6"><a>
                    < 上一篇：Commented on a post</a> </div> <div class="col-lg-6"><a>下一篇：shipped on a post ></a></div>
        </div>
    </div>


</div>