<div class="row">
    <div class="col-md-3">
        <div class="panel b">

            <div class="list-group mb0">
                <a class="list-group-item bt0 " href="#">
                    <span class="label label-purple pull-right">已结束</span>
                    <em class="fa fa-fw fa-check mr"></em>单元一 测验</a>
                <a class="list-group-item bt0" href="#">
                    <span class="label label-success pull-right">进行中</span>
                    <em class="fa fa-fw fa-check mr"></em>单元二 测验</a>
                <a class="list-group-item bt0 active" href="#">
                    <span class="label label-info pull-right">未开始</span>
                    <em class="fa fa-fw fa-times mr"></em>单元三 测验</a>
            </div>
            <button class="btn">新建试卷</button>
            <button class="btn">考试次数</button>
        </div>
    </div>
    <div class="col-md-9">
        <mat-tab-group>
            <mat-tab label="">
                    <ng-template mat-tab-label><span matTooltip="未开始的考试可见">试卷编辑</span></ng-template>
                <ul class="nav pull-right">

                    <li>选择题 {{vCount1+vCount2}}
                    </li>
                    <li>判断题 30
                    </li>
                    <li>总分{{vCount1+vCount2+30}}
                    </li>
                </ul>
                <ul class="nav nav-pills mv-lg">
                    <li class="active"><a class="pv-sm">选择题</a>
                    </li>
                    <li><a class="pv-sm">单选题</a>
                    </li>
                    <li><a class="pv-sm">多选题</a>
                    </li>
                </ul>
                <!-- Vote panel-->
                <div class="panel">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="b0 wd-xxs text-center">
                                        <p>
                                            <a>
                                                <em class="fa fa-angle-up fa-lg" (click)="vCount1=vCount1+1"></em>
                                            </a>
                                        </p>
                                        <p>{{vCount1}}</p>
                                        <p class="mb0">
                                            <a>
                                                <em class="fa fa-angle-down fa-lg" (click)="vCount1=vCount1-1"></em>
                                            </a>
                                        </p>
                                    </td>

                                    <td class="b0">
                                        <p class="h4 mt0">
                                            <a class="align-middle text-bold link-unstyled">[Lorem Ipsum] Phasellus
                                                ullamcorper rhoncus sagittis.</a>
                                        </p>
                                        <small class="text-muted">这里是答案选项 A,B,C，D
                                            <br /><span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                                                <span class="text-muted">正确答案</span>
                                            </span> <a class="text-bold">A</a>
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end Vote panel-->
                <!-- Vote panel-->
                <div class="panel">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="b0 wd-xxs text-center">
                                        <p>
                                            <a>
                                                <em class="fa fa-angle-up fa-lg" (click)="vCount2=vCount2+1"></em>
                                            </a>
                                        </p>
                                        <p>{{vCount2}}</p>
                                        <p class="mb0">
                                            <a>
                                                <em class="fa fa-angle-down fa-lg" (click)="vCount2=vCount2-1"></em>
                                            </a>
                                        </p>
                                    </td>

                                    <td class="b0">
                                        <p class="h4 mt0">
                                            <a class="align-middle text-bold link-unstyled">[Lorem Ipsum] Phasellus
                                                ullamcorper rhoncus sagittis.</a>
                                        </p>
                                        <small class="text-muted">这里是答案选项 A,B,C，D
                                            <br /><span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                                                <span class="text-muted">正确答案</span>
                                            </span> <a class="text-bold">A</a>
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="考试设置">
                    
                <div class="content-wrapper"> 1，设置考试日期区间；2，设置考试时长。</div>
            </mat-tab>
            <mat-tab label="试卷预览">
                <div class="content-wrapper">预览试卷，可导出Word文档和打印</div>
            </mat-tab>

            <mat-tab label="考试成绩">
                    <ng-template mat-tab-label><span matTooltip="已完成考试可见">考试成绩</span></ng-template>
                <div class="content-wrapper"> 图表方式：按教师平均分和班级平均分统计</div>
            </mat-tab>

        </mat-tab-group>

        <!-- end Vote panel-->
        <!-- Vote panel-->


    </div>
</div>