
<div class="panel panel-default">

    <div class="panel-body">
        <div class="table-responsive">
            <table datatable="" class="table table-striped">
                <thead>
                    <tr>
                        <th class="wd-md">标题</th>
                        <th>作者</th>
                        <th>发布单元</th>
                        <th>知识点</th>
                        <th>时间</th>
  
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">AngularJS</a>
                        </td>
                        <td><a href="">Keith Gutierrez</a>
                        </td>
                        <td><a class="mr" href="">HTML5</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">angularjs</a><a class="mr-sm label label-primary" href="">mvc</a>
                        </td>
                        <td>2018/10/05</td>
   
                        <td><a class="mr-sm label label-success" href="">接受</a>
                            <a class="mr-sm label label-danger" href="">拒绝</a>
                        </td>
                    </tr>
                   
                   
                </tbody>
            </table>
            1，组长可以看到接收拒绝按钮，组员可以看到拒绝原因。2，可以点击到内容详情页做该操作。
        </div>
    </div>
</div>
