<div class="content-wrapper ">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default ">

        <form class="example-form panel-body">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="课件标题" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="共享人" multiple>
              <mat-option *ngFor="let topping of ['张老师','王老师']" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="发布时间范围" #drp="bsDaterangepicker"
              bsDaterangepicker [bsConfig]="{ rangeInputFormat: 'YYYY年MM月DD日' }">

          </mat-form-field>

        </form>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default ">
        <div class="panel-body">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>标题</th>
                <th class="wd-md">分享人</th>


                <th class="wd-md">分享时间</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a (click)="toggleOffsidebar()">Olympian Gods</a>
                </td>
                <td>张老师
                </td>


                <td>2018/10/05 12:35</td>


              </tr>

              <tr>
                <td>Olympian Gods.doc
                </td>
                <td>张老师
                </td>


                <td>2018/10/05 12:35</td>


              </tr>
              <tr>
                <td>Olympian Gods.doc
                </td>
                <td>张老师
                </td>


                <td>2018/10/05 12:35</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>