<div class="unwrap">
        <div class="bg-cover">
            <div class="container container-md pv-lg">
                <div class="text-center mb-lg pb-lg">
                    <div class="h1 text-bold">西安交大在线学习系统</div>
                    <p>交大图标</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-md">
        <form class="form" action="">
            <div class="input-group input-group-lg">
                <input class="form-control input-lg radius-clear" type="text" name="term" placeholder="搜索课程" style="width:70%" />
                <select class="form-control input-lg" style="width:30%">
                    <option>A类</option>
                    <option>B类</option>

                </select>
                <span class="input-group-btn">
                <button class="btn btn-info btn-lg b0 radius-clear" type="submit">
                   <strong>搜索</strong>
                </button>
             </span>
            </div>
        </form>
        <p class="mv-lg pv-lg text-muted text-center">
            <small>3大类36课程可选;</small>
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-television mb-lg"></em>
                            <br/>
                            <span class="h4">课程A</span>
                            <br/>
                            <small class="text-muted">123,123次访问</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a class="link-unstyled text-info">
                            <em class="fa fa-5x fa-object-group mb-lg"></em>
                            <br/>
                            <span class="h4">欧洲文化渊源</span>
                            <br/>
                            <small class="text-muted">123,123次访问</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="panel b">
                        <div class="panel-body text-center">
                            <a class="link-unstyled text-primary">
                                <em class="fa fa-5x fa-television mb-lg"></em>
                                <br/>
                                <span class="h4">课程A</span>
                                <br/>
                                <small class="text-muted">123,123次访问</small>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel b">
                        <div class="panel-body text-center">
                            <a class="link-unstyled text-info">
                                <em class="fa fa-5x fa-object-group mb-lg"></em>
                                <br/>
                                <span class="h4">欧洲文化渊源</span>
                                <br/>
                                <small class="text-muted">123,123次访问</small>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
       
    </div>
    