app-login {
    overflow: hidden;
  
    height: 100%;
}
.logo {
    background-image: URL("assets/img/t.jpg");
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    background-color:#fff;
}