<div class="wrapper">
    <div class="block-center mt-xl wd-xxl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    西安交大在线学习平台
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">请使用工/学号登录.</p>

                <form   role="form" name="loginForm" 
                    (submit)="submitForm()">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="工/学号" name="email" required [(ngModel)]="email">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">

                        <input matInput placeholder="密码"   name="password" type="password">
                    </mat-form-field>
                  
                    <div class="form-group has-feedback">
                        <mat-radio-group>
                            <mat-radio-button value="1">教师</mat-radio-button>
                            <mat-radio-button value="2">学生</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="clearfix">
                            <mat-checkbox class="example-margin">记住帐号</mat-checkbox>
                      
                        <div class="pull-right"><a class="text-muted" [routerLink]="'/recover'">忘记密码?</a>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary mt-lg" type="submit">登录</button>
                </form>

            </div>
        </div>

    </div>
</div>