<div class="panel panel-defailt">

    <div class="panel-heading">
        <div class="pull-right button-bar">
            
            <button class="btn btn-sm btn-info" type="button">添加学生</button>
            <button class="btn btn-sm btn-default" type="button">
                <em class="fa fa-user-plus"></em>
            </button>
            <button class="btn btn-sm btn-default" type="button">
                <em class="fa fa-pencil"></em>
            </button>
            <button class="btn btn-sm btn-default" type="button">
                <em class="fa fa-mail-forward"></em>
            </button>
            <button class="btn btn-sm btn-default" type="button">
                <em class="fa fa-print"></em>
            </button>

            <button class="btn  btn-success" type="button" matTooltip="导出Excel">
                <i class="fa fa-file-excel-o"></i>
            </button>
        </div>
        <div class="h4">《欧洲文化渊源》 二年级一班</div>

    </div>
    <mat-divider></mat-divider>
    <div>
        <table class="table bb">
            <thead>
                <tr>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>电话</td>
                </tr>
            </thead>
            <tbody dnd-sortable-container [sortableData]="listOne">
                <tr *ngFor="let item of listOne; let i = index" dnd-sortable [sortableIndex]="i">
                        <td>1255457857{{i+1}}</td>
                    <td> {{item}}</td>
                   
                    <td>1255457857{{i+1}}</td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-body">
        <alert type="info">拖拽可以排序 
        </alert>
    </div>
</div>
