
<mat-toolbar>
    花名册
</mat-toolbar>
<div class="content-wrapper">
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading ">班级(3) </div>
                <div class="list-group">
                    <a class="list-group-item bt0" href="#">

                        《欧洲文化渊源》 一年级一班</a>
                    <a class="list-group-item active" href="#">

                        《欧洲文化渊源》 二年级一班t</a>
                    <a class="list-group-item" href="#">

                        《欧洲文化渊源》 一年级二班</a>

                </div>

            </div>
        </div>
        <div class="col-xs-9">
            <app-sortable></app-sortable>
        </div>
    </div>
</div>