<mat-toolbar>

  角色分配


</mat-toolbar>
<div class="content-wrapper">
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">教研室
        <div class="paneltool">
          <button mat-raised-button (click)="openDialog()">添加</button>

        </div>
      </div>

      <div class="panel-body">
        <p>...</p>
      </div>
      <table datatable="" class="table table-striped">
        <thead>
          <tr>
            <th class="wd-md">教研室</th>
            <th>主任</th>


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>教研室A
            </td>
            <td>张老师
            </td>


            <td><a (click)="openDialog();">修改</a>
            </td>
          </tr>


        </tbody>
      </table>

    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">教研室A 课程组
        <div class="paneltool">
          <button mat-raised-button (click)="openDialog()">添加</button>

        </div>
      </div>
      <div class="panel-body">
      <p>...</p>
    </div>

      <table datatable="" class="table table-striped">
        <thead>
          <tr>
            <th class="wd-md">课程组</th>
            <th>组长</th>


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>课程组A
            </td>
            <td>张老师
            </td>


            <td><a (click)="openDialog();">修改</a>
            </td>
          </tr>


        </tbody>
      </table>

    </div>

  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">教研室A 课程组
        <div class="paneltool">
          <button mat-raised-button (click)="openDialog()">添加</button>

        </div>
      </div>

      <div class="panel-body">
          <p>...</p>
        </div>
    
      <table datatable="" class="table table-striped">
        <thead>
          <tr>
            <th class="wd-md">组员</th>
       


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
      
            <td>张老师
            </td>


            <td><a (click)="openDialog();">修改</a> <a  >删除</a>
            </td>
          </tr>


        </tbody>
      </table>

    </div>
  </div>
</div></div>