<div class="ph pull-right">
    <ul class="nav nav-pills mv-lg">
        <li><a class="pv-sm" [routerLink]="'/elements/sortable'" [routerLinkActive]="['active']">花名册</a>
        </li>
        <li class="active"><a class="pv-sm" [routerLink]="'/ecommerce/orders'" [routerLinkActive]="['active']">成绩单</a>
        </li>


    </ul>
</div>
<div class="content-heading">二年级一班</div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Available boxers
                </div>
                <div class="panel-body" >
                    <ul class="list-group">
                        <li   class="list-group-item" >11</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">

                <div class="panel-body"  >
                        <mat-tab-group>
                                <mat-tab label="成绩单"> Content 1 </mat-tab>
                                <mat-tab label="分析"> Content 2 </mat-tab>
                                
                            </mat-tab-group>
                </div>
            </div>
        </div>

    </div>



