<div class="content-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">       

        <form class="example-form panel-body">
        <mat-form-field class="example-full-width">
          <input matInput #postalCode maxlength="20" placeholder="试卷名称" value="" required>
          <mat-hint align="end">{{postalCode.value.length}} / 20</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput #postalCode2 maxlength="30" placeholder="试卷备注" value="">
          <mat-hint align="end">{{postalCode2.value.length}} / 30</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>考试时常</mat-label>
          <mat-select #fontSize value="2">
            <mat-option value="2">2小时</mat-option>
            <mat-option value="1">1小时</mat-option>
            <mat-option value="0.5">半小时</mat-option>
            <mat-option value="0.25">15分钟</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">

          <input type="number" matInput placeholder="权重">

        </mat-form-field>
        </form>
      </div>
    </div>
    <div class="col-md-6">

      <div class="panel  panel-default">

        <div class="panel-heading">
          <div class=" pull-right">
            <button type="button" mat-button>
              上传试卷
            </button></div>试卷内容
        </div>
        <div class="panel-body ">

          <p class=MsoNormal><span style='font-family:宋体'>填空题</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>1. The Greens are ___
              (happy) to live in this ___ (noise) street.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>2. Don't feel ___ (worry)
              about your child. The whole class would be ___ (friend) to the new classmate.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>3. It's a ___ (please)
              trip for all of us. We all feel ____ (please) with the trip</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>4. Ann felt very ___
              (happy) at her birthday party. She jumped and sang ___ (happy)</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>5. This question is
              ____, so I can answer it ___ (easy).</span></p>

          <p class=MsoNormal><span style='font-family:宋体;color:#333333'>判断题</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>1. The Iliad is
              attributed to Homer.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>2. The Odyssey is a
              famous ancient Greek epic poem ascribed to Homer.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>3. The Republic is
              the name of the famous dialogue in which Plato outlined his ideal state.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>4. The Politics is
              the title of one of Aristotle s’ works.</span></p>

          <p class=MsoNormal><span lang=EN-US style='color:#333333'>5. The Parthenon is
              the most famous Greek temple, on the Acropolis at Athens.</span></p>

          <p class=MsoNormal><span style='font-family:宋体;color:#333333'>选择题</span></p>

          <p class=MsoNormal><span lang=EN-US>1. — Do you think the weather will turn
              fine this afternoon?</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　—</span><span lang=EN-US>______.
              The sky is covered with dark clouds.</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　　</span><span lang=EN-US>A.
              You are right B. I think so</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　　</span><span lang=EN-US>C.
              Sorry about that D. I’m afraid not</span></p>

          <p class=MsoNormal><span lang=EN-US>2. I was about to get on the bus ______
              someone called me from behind.</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　</span><span lang=EN-US>A.
              until B. whether C. while D. when</span></p>

          <p class=MsoNormal><span lang=EN-US>3. One may never know the _____ of love
              without being given any of it.</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　</span><span lang=EN-US>A.
              power B. desire C. truth D. role</span></p>

          <p class=MsoNormal><span lang=EN-US>4. I have formed the ______ of getting up
              early.</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　</span><span lang=EN-US>A.
              manner B. custom C. habit D. way</span></p>

          <p class=MsoNormal><span lang=EN-US>5. It was raining hard when I was offered
              an umbrella, without ______ I would have been wet through.</span></p>

          <p class=MsoNormal><span style='font-family:宋体'>　</span><span lang=EN-US>A. it
              B. that C. what D. which</span></p>

        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel  panel-default">

        <div class="panel-heading">
          <div class=" pull-right">
            <button class="btn btn-default">平均分配分值</button>
            <div class="btn-group pull-right" dropdown>
              <button class="btn btn-default" dropdownToggle><i class="fa fa-plus"></i> <b class="caret"></b>
              </button>
              <ul *dropdownMenu class="dropdown-menu animated fadeInUp" role="menu">
                <li><a href="#"><i class="fa fa-pencil-square-o"></i> 填空题</a>
                </li>
                <li><a href="#"><i class="fa fa-check-square-o"></i> 判断题</a>
                </li>
                <li><a href="#"><i class="fa fa-dot-circle-o"></i> 选择题</a>
                </li>

              </ul>
            </div>
          </div>答题卡
        </div>


        <div class="">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>答案</th>
                <th style="width:60px">分值</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><i class="fa fa-check-square-o"></i></td>
                <td>
                  <mat-checkbox>正确</mat-checkbox>
                </td>
                <td>

                  <input matInput type="number" value="1">

                </td>
              </tr>
              <tr>
                <td>2</td>
                <td><i class="fa fa-pencil-square-o"></i></td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput value="Thornton">
                  </mat-form-field>
                </td>
                <td>

                  <input matInput type="number" value="1">

                </td>
              </tr>
              <tr>
                <td>3</td>
                <td><i class="fa fa-dot-circle-o"></i></td>
                <td>
                  <mat-radio-group class="">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of ['A','B','C','D']" [value]="season">
                      {{season}}
                    </mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>

                  <input matInput type="number" value="1">

                </td>

              </tr>
              <tr class="text-danger">
                <td></td>
                <td></td>
                <td class="text-right">
                  总分
                </td>
                <td>

                  98

                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>

