<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">404</div>
            <p class="lead m0">页面没找到</p>
   
        </div>

        <ul class="list-inline text-center text-sm mb-xl">

            <li class="text-muted">|</li>
            <li><a class="text-muted" [routerLink]="'/login'">登录</a>
            </li>
            <li class="text-muted">|</li>
   
        </ul>
      
    </div>
</div>