<div class="unwrap">
    <div class="bg-cover" style="background-image: url(assets/img/banner.jpg); height: 350px; ">
        <div class="p-xl text-white">

            <h3 class="m0">欧洲文化渊源</h3>
            <p>Lead director</p>

            <p>本课程是为我校非英语专业本科二年级学生开设的一门语言文化类英语拓展课。</p>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="课程资料 (全部角色)"> <app-invoice></app-invoice> </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label><span matBadge="4">待审核资料</span></ng-template>
            <div class="content-wrapper"> <app-articles></app-articles></div>
           
        </mat-tab>
        <mat-tab label="课程组（主任和组长）">
                <div class="content-wrapper"><app-teamviewer></app-teamviewer></div>
        </mat-tab>

        <mat-tab label="试卷（组长和组员）"><div class="content-wrapper"><app-votelinks></app-votelinks> </div> </mat-tab>
        <mat-tab label="课程组公告"> <div class="content-wrapper">1，公告列表；2，公告发布(课程组长可见) </div></mat-tab>
    </mat-tab-group>

   
</div>